* {
 box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  width: 600px;
  border: solid 2px #555;
  border-radius: 10px;
  background-color: #888;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 80px;
  gap: 20px;
}

.calc_result {
  grid-column: 1 /-1;
  background-color: #333;
  color: #fff;
  font-size: 56px;
  padding: 10px;
}

.calc_btn {
  border: none;
  border-radius: 5px;
  background-color: #eee;
  cursor: pointer;
  font-size: 30px;
  box-shadow: 2px 3px 2px rgb(0, 0, 0, 0.5);
}

.calc_btn:hover {
  opacity: 0.9;
}

.calc_btn:active {
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
}

.calc_btn_operator {
  background-color: #ffe2ae;
}

.calc_btn_reset {
  background-color: #ff5050;
  color: #fff;
}

.calc_btn_equal {
  background-color: #5d50ff;
  color: #fff;
  grid-column: 2 / -1;
}